<!DOCTYPE html>
{% load staticfiles %}
<html>
 <head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>这是一个学习测试程序</title>

</head>
<body>
	 <div class="page-header">
        <div>
            <a href="{% url 'post_new' %}" class="top-menu"><em><h2> 新建帖子 <span class="glyphion glyphicon-plus"></span></h2></em></a>
                
            </div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
	<h1><a href="admin">数据库管理</a></h1>

</body>
</html>