<!DOCTYPE html>
{% load staticfiles %}
<html>
 <head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>hi! this is test.</title>

</head>
<body>
	<p> <h1><strong>这是个测试网页！<br> 哈哈</strong></h1></p>
	<div><h2>{{posts}}</h2></div>
	<div>{% for post in posts %}
		<div> class="page-header">
		<h3>標題：{{post.title}}</h3><br>
		</div>
		<div> class="post">
		<em>帖子内容：{{post.text|linebreaksbr}}</em><br>
		創建時間：{{post.created_date}}<br>
		發佈時間：{{post.published_date}}<br>
		{% endfor %}
    	</div>
    </div>
	<h1><a href="admin">数据库管理</a></h1>

</body>
</html>