h1 a{
	color: #FCA205;
}
body {
	padding-left: 25px;
}
.page-header{
	background-color: #ff9400;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
.post {
	margin-bottom: 70x;
.date {
		float: right;
        color: #828282;

}

}
}